body {
	font-family: sans-serif;
}

header {
	border-bottom: solid orange;
	display: flex;
	justify-content: space-between;
}

header h1 {
	color: orange;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin-right: 20px;
	margin-left: 20px;
}

nav li a {
	color: #e66100;
	font-weight: bold;
}

.annonce {
	border: solid lightgrey;
}

.annonce {
	display:flex;
	justify-content: space-between;
}

.annonce div {
	padding-left: 10px;
	padding-right: 10px;
}

.annonce a {
	width: 20%;
}

.annonce img {
	width: 100%;
}

.prix {
	color: #e66100;
	font-weight: bold;
}

.image-grande {
	max-height: 500px;
}

.image-mini {
	max-height: 300px;
	width:auto;
}


.error {
	color: red;
}

.comment_title
{
	color: orange;
	margin: 5px;
	
}

.comment
{
	margin :auto;
	display : flex;
	flex-direction : column;
	border: solid lightgrey;
	justify-content : space-between;
	width : 70%;
}
.comment div
{
/* 	padding-left: 10px;
	padding-right: 10px; */
	padding : 10px;
	color:black;
}
.comment_user
{
	
}

.form_comment
{
	margin : 10px;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items: center;
}

.prix_proposé
{
	margin-top : 10px;
	margin-bottom : 10px;
	height : 50px;
	
}
.textarea 
{
	margin-top : 10px;
	margin-bottom : 10px;
	overflow : auto;
	border: 2px solid #765942;
	border-radius: 10px;
	height: 100px;
	width: 70%;
}
